/* Header */

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 90px;
}

.header-nav {
  max-width: 715px;
  width: 100%;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav-item {
  display: block;
}

.header-nav-link {
  color: var(--c-primary);
  transition: ease-in-out .3s;
}

.header-nav-link:hover {
  color: var(--c-yellow);
}

.header-info {
  background: url(../images/header-bg.png) no-repeat right center;
  background-size: contain;
  margin-bottom: 170px;
}

.header-info-wrapper {
  max-width: 580px;
}

.header-info-title-wrapper {
  position: relative;
}

.header-info-title-label {
  position: absolute;
  top: 89px;
  left: 385px;
}

.header-info-title {
  font-size: var(--fz-extra-large);
  font-weight: var(--fw-black);
  text-transform: uppercase;
  line-height: 104px;
  margin-bottom: 25px;
}

.header-info-title-span {
  font-weight: var(--fw-black);
  font-size: var(--fz-large);
  line-height: 96px;
}

.header-info-text {
  display: block;
  max-width: 426px;
  font-size: var(--fz-middle);
  font-weight: var(--fw-semibold);
  line-height: 30px;
  padding: 10px 27px 14px;
  background: var(--c-red);
  border-radius: 8px;
  margin-bottom: 38px;
}

.header-info-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-info-link {
  width: 175px;
  height: 40px;
  color: var(--c-primary);
  font-size: var(--fz-secondary);
  padding: 5px 0px 6px 45px;
  margin-bottom: 15px;
  line-height: 30px;
  background-color: var(--c-bg-grey);
  background-repeat: no-repeat;
  background-position: 9px center;
  backdrop-filter: blur(12.098480224609375px);
  border-radius: 9px;
  transition: ease-in-out .3s;
}

.header-info-link:hover {
  background-color: var(--c-grey);
}

.frontend {
  background-image: url(../images/courses-logos/frontend.svg);
}

.python {
  background-image: url(../images/courses-logos/python.svg);
}

.manual {
  background-image: url(../images/courses-logos/qa.svg);
}

.full-stack {
  background-image: url(../images/courses-logos/full-stack.svg);
}

.c-net {
  background-image: url(../images/courses-logos/c_sharp.svg);
}

.java {
  background-image: url(../images/courses-logos/java.svg);
}

/* Main */

/* advantages */

.main-advantages-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-advantages-card {
  width: 270px;
  border-radius: 20px;
  background-color: var(--c-bg-grey-dark);
  transition: ease-in-out .3s;
  padding: 30px 12px 52px 12px;
}

.main-advantages-card:hover {
  background-color: var(--c-red-light);
}

.main-advantages-card-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--c-red-light);
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
  margin-bottom: 20px;
}

.find {
  background-image: url(../images/advantages-icons/find.svg);
}

.salary {
  background-image: url(../images/advantages-icons/salary.svg);
}

.world {
  background-image: url(../images/advantages-icons/world.svg);
}

.home {
  background-image: url(../images/advantages-icons/home.svg);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--fz-extra-big);
  font-weight: var(--fw-black);
  margin-bottom: 70px;
}

.main-advantages-card-title {
  text-align: center;
  font-size: var(--fz-secondary);
  font-weight: var(--fw-bold);
  line-height: 26px;
  margin-bottom: 20px;
}

.main-advantages-card-text {
  text-align: center;
  font-weight: var(--fw-med);
  line-height: 22px;
}

/* specialties */

.main-specialties-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-specialties-card {
  max-width: 370px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 26px 30px 30px 30px;
  background-color: var(--c-bg-grey-dark);
  background-repeat: no-repeat;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
  transition: ease-in-out .3s;
}

.main-specialties-card:hover {
  background-color: var(--c-bg-grey-light);
}

.frontend-spec {
  background-image: url(../images/courses-logos/frontend.svg);
  background-size: 60px 60px;
  background-position-x: 286px;
  background-position-y: 24px;
}

.c_net {
  background-image: url(../images/courses-logos/c_sharp.svg);
  background-size: 64px 64px;
  background-position-x: 286px;
  background-position-y: 24px;
}

.java-spec {
  background-image: url(../images/courses-logos/java.svg);
  background-size: 54px 70px;
  background-position-x: 286px;
  background-position-y: 10px;
}

.python-spec {
  background-image: url(../images/courses-logos/python.svg);
  background-size: 60px 60px;
  background-position-x: 286px;
  background-position-y: 24px;
}

.full-stack-spec {
  background-image: url(../images/courses-logos/node.svg);
  background-size: 81px 46px;
  background-position-x: 276px;
  background-position-y: 34px;
}

.qa-manual {
  background-image: url(../images/courses-logos/qa.svg);
  background-size: 56px 56px;
  background-position-x: 290px;
  background-position-y: 24px;
}

.main-specialties-card-title {
  font-size: var(--fz-big);
  font-weight: var(--fw-bold);
  margin-bottom: 30px;
}

.main-specialties-card-text {
  font-size: var(--fz-secondary);
}

.start,
.techno {
  margin-bottom: 21px;
}

.techno {
  line-height: 26px;
}

.duration {
  margin-bottom: 30px;
}

.main-specialties-card-text-bold {
  font-weight: var(--fw-bold);
}

.details-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--c-primary);
  font-size: var(--fz-secondary);
  font-weight: var(--fw-med);
  background: none;
  padding: 16px 92px;
  margin: 0 auto;
  border-radius: 100px;
  transition: ease-in-out .3s;
}

.details-btn:hover {
  background-color: var(--c-red);
}

/* consult */
.main-consult {
  background-image: url(../images/black-friday-strips/yellow_strip.png), url(../images/black-friday-strips/red-strip.png), url(../images/advisor.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom, bottom, 67% 23%;
}

.main-consult-wrapper {
  padding-bottom: 300px;
}

.consult {
  text-align: start;
  line-height: 63px;
  margin-bottom: 60px;
}

.section-title-span {
  color: var(--c-yellow);
}

/* form */

.main-consult-form {
  max-width: 415px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

input,
select {
  background-color: var(--c-bg-grey);
  border: none;
  border-radius: 1000px;
  line-height: 33px;
}

input {
  outline: none;
  padding: 22px 0 22px 27px;
  font-size: var(--fz-middle);
  color: var(--c-grey);
}

select {
  padding: 22px 0 22px 87px;
}

input::placeholder,
select {
  font-size: var(--fz-middle);
  color: var(--c-grey);
}

/* Wrapper for styling */
.phone-input-wrapper {
  display: flex;
  align-items: center;
}

/* Custom select styling */
.custom-select {
  position: relative;
}

.custom-select select {
  appearance: none;
  /* Remove default browser styles */
  background-color: var(--c-bg-grey);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 22px 40px 22px 60px;
  font-size: var(--fz-middle);
  cursor: pointer;
  outline: none;
  width: 160px;
  /* Adjust width as needed */
  background-repeat: no-repeat;
  background-position: 10px center, calc(100% - 104px) center;
  background-size: 30px auto, 10px;
  background-image: url(../images/flags/flag-ukraine.svg), url(../images/arrow-select.png);
}

/* Style input for the phone number */
#phone-number {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 22px 10px;
  font-size: 16px;
  flex: 1;
  /* Allow input to grow */
  font-size: var(--fz-middle);
}

.main-consult-btn {
  border-radius: 1000px;
  color: var(--c-primary);
  font-size: var(--fz-middle);
  font-weight: var(--fw-semibold);
  line-height: 33px;
  padding: 18px 0 18px;
  background: none;
}

/* Modal */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  /* Hidden by default */
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.modal-wrapper.active {
  visibility: visible;
  opacity: 1;
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 40px;
  color: var(--c-primary);
  cursor: pointer;
  background: none;
  border: none;
}

.modal {
  position: relative;
  width: 564px;
  display: flex;
  justify-content: center;
  padding: 82px 10px 68px;
  background-color: var(--c-modal-bg);
}

.modal-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.modal-form-phone-number {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.modal-form-btn {
  border-radius: 1000px;
  color: var(--c-primary);
  font-size: var(--fz-middle);
  font-weight: var(--fw-semibold);
  line-height: 33px;
  padding: 18px 0 18px;
  background: none;
  transition: ease-in-out .3s;
}

.modal-form-btn:hover {
  background-color: var(--c-red);
}

/* Footer */

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 0 50px;
  background: var(--c-footer-bg);
}

.footer-contact-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-contact-wrapper>div {
  width: 300px;
}

.footer-contact-basic-name {
  margin-top: 25px;
  margin-bottom: 75px;
  font-size: var(--fz-secondary);
  line-height: 28px;
}

.footer-contact-basic-copyright {
  font-size: var(--fz-small);
  line-height: 17px;
}

.footer-contact-link {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--c-primary);
  transition: ease-in-out .3s;
}

.footer-contact-link:hover,
.footer-contacts-socials-link:hover {
  color: var(--c-yellow);
}

.footer-contact-item:not(:last-of-type) {
  margin-bottom: 15px;
}

.footer-contacts-socials-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts-socials-link {
  color: var(--c-primary);
  transition: ease-in-out .3s;
}

/* arrow-up */
#arrow-up {
  position: sticky;
  width: 64px;
  height: 64px;
  bottom: 40px;
  left: 90%;
  transition: ease-in-out .3s;
}

/* Responsive */
@media (max-width: 1055px) {
  .main-consult {
    background-position: bottom, bottom, 67% 40%;
  }

  .main-advantages-wrapper {
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
  }

  .main-specialties-cards-wrapper {
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 992px) {
  .main-specialties-card {
    margin-bottom: 0;
  }

  .header-wrapper {
    flex-direction: column;
  }

  .header-logo {
    margin-bottom: 30px;
  }

  .header-nav-list {
    gap: 20px;
  }

  .header-nav-item {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header-info {
    margin-bottom: 50px;
    background: none;
  }

  .section-title {
    margin-bottom: 20px;
  }

  .main section:not(:last-of-type) {
    margin-bottom: 50px;
  }

  .main-consult {
    background: none;
  }

  .main-consult-wrapper {
    padding-bottom: 50px;
  }

  .footer-contact-wrapper>div:last-of-type {
    width: 100%;
    margin-top: 40px;
  }

  .footer-contacts-socials-wrapper {
    justify-content: space-evenly;
  }
}

@media (max-width: 576px) {
  .header-nav-list {
    gap: 30px;
  }

  .header-info-title-label {
    transform: scale(.7);
    top: 6px;
    left: 263px;
  }

  .section-title {
    font-size: var(--fz-big);
  }

  .header-info-link:nth-of-type(6) {
    display: none;
  }

  .footer-contact-wrapper {
    gap: 30px;
  }

  .footer-contact-wrapper>div:last-of-type {
    width: 300px;
    margin-top: 0;
  }

  .footer-contacts-socials-wrapper {
    justify-content: space-between;
  }

  .footer-contact-wrapper>div:first-of-type {
    order: 1;
  }
}

@media (max-width: 480px) {
  .header-info-title {
    font-size: var(--fz-extra-big);
    line-height: 43px;
  }

  .header-info-title-span {
    font-size: 65px;
  }

  .header-info-title-label {
    top: 49px;
    left: 98px;
  }

  .section-title {
    font-size: 30px;
  }
}

@media (max-width: 320px) {
  .frontend-spec {
    background-position-x: 214px;
    background-position-y: 86px;
  }

  .c_net {
    background-position-x: 212px;
  }

  .java-spec {
    background-position-x: 206px;
  }

  .python-spec {
    background-position-x: 211px;
  }

  .full-stack-spec {
    background-position-x: 196px;
    background-position-y: 71px
  }

  .qa-manual {
    background-position-x: 210px;
  }
}