html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--f-primary);
  color: var(--c-primary);
  background: linear-gradient(270deg, #001024 0%, #002555 50%, #001024 100%);
}

.container {
  max-width: 1170px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  margin-bottom: 170px;
}

button {
  border: 2px solid var(--c-red);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}