:root {
  /* Fonts */

  --f-primary: "Montserrat";
  --fw-reg: 400;
  --fw-med: 500;
  --fw-black: 900;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fz-small: 12px;
  --fz-primary: 16px;
  --fz-secondary: 20px;
  --fz-middle: 24px;
  --fz-svg: 32px;
  --fz-big: 42px;
  --fz-extra-big: 70px;
  --fz-extra-large: 116px;
  --fz-large: 106px;

  /* Colors */

  --c-primary: #FFFFFF;
  --c-yellow: #FFE251;
  --c-red: rgba(229, 1, 3, 1);
  --c-red-light: rgba(240, 49, 49, 1);
  ;
  --c-grey: #8394B0;
  --c-bg-grey: rgba(255, 255, 255, 0.2);
  --c-bg-grey-dark: rgba(255, 255, 255, 0.1);
  --c-bg-grey-light: rgba(56, 81, 121, 1);
  --c-footer-bg: #1A2A3E;
}